{% extends 'base.html' %}

{% block content %}

    {% load crispy_forms_tags %}
    {% if perms.auth.view_user %}
    <section class="p-8">
      <div class="px-6 py-8 mx-auto">
          <div class="md:mt-0 xl:p-0">
              <div class="p-6 md:space-y-6 sm:p-8">
                  <h1 class="text-2xl font-bold">Add User</h1>
                  <form class="md:space-y-6" method="POST" action="{% url 'add_user' %}">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <button type="submit" class="px-4 py-2 rounded-md">Add</button>
                  </form>
              </div>
          </div>
      </div>
    </section>
    {% else %}
        <h1>You don't have the permission to this page</h1>
    {% endif %}
    

{% endblock %}