# Prioritize Python as the main language
*.py linguist-detectable=true


# Lower the weight of HTML files (but don't hide them completely)
*.html linguist-detectable=false
*.js linguist-detectable=true
*.css linguist-detectable=false
