{% extends 'base.html' %}

{% block content %}

    {% include 'dashboard/sidebar.html' %}

    <h2>All Posts</h2>
    <button class="bg-accent p-4 ml-10"><a href="{% url 'add_social_media' %}">Add Social Media</a></button>

    <table class="table-auto text-center container mx-auto">
          <thead>
            <tr>
              <th>#</th>
              <th>Platform Name</th>
              <th>Url</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for link in social_media_links %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ link.platform }}</td>
              <td>{{ link.url }}</td>
              <td>
                  <a href="{% url "edit_social_media" link.platform %}" class="ml-6 mr-6"><i class="fa-regular fa-pen-to-square"></i></a>
                  <a href="{% url "delete_social_media" link.platform %}" class="mx-4"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>

{% endblock %}