@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Header */
  .header {
    @apply flex justify-between px-2 py-3 sm:px-3 sm:py-4;
  }
  .header-content {
    @apply flex items-center;
  }
  .header-title {
    @apply ml-1 font-brand text-lg font-extrabold text-primary sm:ml-3 sm:text-2xl;
  }

  /*  */

  .fixed-icons {
    @apply absolute right-0 top-0 flex h-full items-center bg-white;
  }

  .text-body {
    @apply loading-relaxed font-body text-lg text-black;
  }

  .text-brand {
    @apply font-brand text-lg font-extrabold text-primary sm:text-2xl;
  }

  .text-nav {
    @apply font-subHeading text-base font-extrabold text-primary sm:text-lg;
  }

  .text-profile {
    @apply font-subHeading font-semibold sm:text-lg;
  }

  .text-feature {
    @apply font-brand text-xl font-bold text-primary;
  }

  .text-title {
    @apply font-title text-3xl font-bold text-black;
  }

  .text-titleFeature {
    @apply font-title text-xl font-bold text-black;
  }

  .text-titleFeatureSpecial {
    @apply font-title text-base font-bold text-black;
  }

  .text-info {
    @apply text-justify font-subHeading text-sm text-blackLike;
  }

  .text-infoCenter {
    @apply text-center font-subHeading text-sm text-blackLike;
  }
}


@layer utilities {
  .loading-relaxed {
    animation: loading 1.5s infinite;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
