{%  extends "base.html" %}

{% block content %}

        <!-- Content Start -->
        <div class="2xl:container 2xl:mx-auto">
      <!-- Addvertisement One -->
      <div
        class="font-heading my-2 ml-8 mr-8 grid h-24 w-auto place-items-center items-center bg-whiteLike px-4 py-2 text-center text-lg font-bold"
      >
        Place your advertisement
      </div>

      <!-- Feature: left-trending, center-News, right-unboxing & reviews   -->

      <div
        class="mx-3 my-4 grid w-auto grid-cols-1 gap-2 px-3 xl:grid-cols-[1fr_2fr_1fr]"
      >
        <!-- Trending & Popular -->

        <div class="grid hidden grid-rows-2 gap-3 bg-white xl:block">
          <div class="bg-white">
            <div class="text-feature mb-1 px-3">Trending Now > ></div>
            <hr class="mb-3 opacity-5" />
          {% for trendPost in trending_posts %}
              {% if forloop.first %}
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/two.jpeg"
                  alt="Description of the image"
                  class="h-44 w-full rounded-md"
                />
              </figure>
                <a href="">
              <header class="mb-4">
                <h1 class="text-titleFeature mb-2">
                  {{ trendPost.title }}
                </h1>
                <p class="text-info">{{ trendPost.published_at | timesince }} ago | {{ trendPost.author }}</p>
              </header>
                    </a>
            </article>
              {% endif %}
          {% endfor %}
            <hr class="opacity-5" />
          </div>

          <!-- Popular -->
          <div class="bg-white">
            <div
              class="-mt-3 mb-4 px-3 font-brand text-xl font-bold text-primary"
            >
              Popular Posts > >
            </div>
            <hr class="mb-3 opacity-5" />
          {% for popularPost in popular_posts %}
              {% if forloop.first %}
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/one.jpeg"
                  alt="Description of the image"
                  class="h-44 w-full rounded-md"
                />
              </figure>
                <a href="">
              <header class="mb-3">
                <h1 class="text-titleFeature mb-1">
                  {{ popularPost.title }}
                </h1>
                <p class="text-info">{{ popularPost.published_at | timesince }} ago | {{ popularPost.author }} </p>
              </header>
                    </a>
            </article>
              {% endif %}
          {% endfor %}
          </div>
        </div>

        <!-- Feature News -->
        <div
          class="col-span-1 border-x border-solid border-black bg-white px-2 py-1"
        >
          <div class="grid w-auto grid-cols-2 gap-x-3 gap-y-6">
            <!-- First Post -->

            <div class="col-span-2 bg-white">
            {% for post in posts %}
                {% if forloop.first %}
              <article class="mx-auto grid w-auto grid-cols-2 gap-2 px-4">
                  <a href="">
                <header class="col-span-2 mb-3">
                    <a href="">
                      <h1 class="text-title mb-1">{{ post.title }}</h1>
                    </a>
                  <p class="text-info">{{ post.published_at | timesince }} ago | {{ post.author }}</p>
                </header>
                    </a>
                <figure class="mb-3">
                  <img
                    src="./img/one.jpeg"
                    alt="Description of the image"
                    class="h-auto w-full rounded-md"
                  />
                  <figcaption class="text-info mt-2">
                    Caption for the image.
                  </figcaption>
                </figure>

                <section>
                    <a href="">
                      <p class="text-body ml-3">
                        {{ post.short_description | truncatewords:30 }}
                      </p>
                    </a>
                </section>
              </article>
                {% endif %}
            {% endfor %}
              <hr class="mt-5 opacity-5" />
              <div class="text-feature px-3 py-3">Featured Post > ></div>
              <hr class="mt-1 opacity-5" />
            </div>


            <!-- Second Post -->
            <div class="bg-white">
            {% for featurePost in featured_posts  %}
            {% if forloop.first %}
              <article class="mx-auto w-auto gap-2 px-4">
                <header class="mb-3">
                    <a href="">
                      <h1 class="text-titleFeature mb-2">
                        {{ featurePost.title }}
                      </h1>
                    </a>
                  <p class="text-info">{{ featurePost.published_at | timesince }} ago | {{ featurePost.author }}</p>
                </header>

                <figure class="mb-3">
                  <img
                    src="./img/two.jpeg"
                    alt="Description of the image"
                    class="h-44 w-full rounded-md"
                  />
                </figure>
              </article>
            {% endif %}
            {% endfor %}
            </div>

          <!-- Third post -->
            <div class="bg-white">
            {% for featurePost in featured_posts  %}
            {% if forloop.second %}
              <article class="mx-auto w-auto gap-2 px-4">
                <header class="mb-3">
                    <a href="">
                      <h1 class="text-titleFeature mb-2">
                        {{ featurePost.title }}
                      </h1>
                    </a>
                  <p class="text-info">{{ featurePost.published_at | timesince }} ago | {{ featurePost.author }}</p>
                </header>

                <figure class="mb-3">
                  <img
                    src="./img/two.jpeg"
                    alt="Description of the image"
                    class="h-44 w-full rounded-md"
                  />
                </figure>
              </article>
            {% endif %}
            {% endfor %}
            </div>

          </div>
        </div>

        <!-- Unboxing & Reviews -->
        <div class="grid hidden grid-rows-2 gap-3 bg-white xl:block">
          <div class="bg-white">
            <div class="text-feature mb-2 px-3">Unboxing > ></div>
            <hr class="mb-3 opacity-5" />

            <!-- Unboxing Post -->

          {% for unboxPost in unboxing_posts %}
              {% if forloop.first %}
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/two.jpeg"
                  alt="Description of the image"
                  class="h-44 w-full rounded-md"
                />
              </figure>

              <header class="mb-4">
                  <a href="">
                <h1 class="text-titleFeature mb-2">
                  {{ unboxPost.title }}
                </h1>
                      </a>
                <p class="text-info">{{ unboxPost.published_at | timesince }} ago | {{ unboxPost.author }}</p>
              </header>
            </article>
              {% endif %}
          {% endfor %}
            <hr class="mx-2 opacity-5" />
          </div>

          <!-- Reviews Post -->
          <div class="bg-white">
            <div class="text-feature -mt-3 mb-4 px-3">Reviews > ></div>
            <hr class="mb-3 opacity-5" />
          {% for review in reviews %}
              {% if forloop.first %}
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/two.jpeg"
                  alt="Description of the image"
                  class="h-44 w-full rounded-md"
                />
              </figure>

              <header class="mb-4">
                  <a href="">
                <h1 class="text-titleFeature mb-2">
                  {{ review.title }}
                </h1>
                      </a>
                <p class="text-info">{{ review.published_at | timesince }} ago | {{ review.author }}</p>
              </header>
            </article>
              {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>

      <hr />
      <!-- Advertisement Two  -->
      <div
        class="font-heading my-2 ml-8 mr-8 grid h-32 w-auto place-items-center items-center bg-whiteLike px-4 py-2 text-center text-lg font-bold"
      >
        Place your advertisement
      </div>

      <hr class="mb-4" />

      <!-- Speacial Features Start -->

      <div class="mx-6 grid grid-cols-1 gap-2 md:grid-cols-2 xl:grid-cols-4">
        {% for aiPost in ai_posts %}
            <div class="grid--auto-rows grid gap-2">
          <div class="bg-white">
            <div class="text-feature mb-1 px-3">Ai > ></div>
            <hr class="mb-3 opacity-5" />
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/two.jpeg"
                  alt="Description of the image"
                  class="h-full w-full rounded-md md:h-44"
                />
              </figure>
            {% if forloop.first %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ aiPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ aiPost_published_at | timesince }} ago | {{ aiPost.author }}</p>
              </header>
            {% endif %}
            </article>
            <hr class="opacity-5" />
          </div>

          <!-- Second Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.second %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ aiPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ aiPost_published_at | timesince }} ago | {{ aiPost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>

          <!-- Third Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.third %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ aiPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ aiPost_published_at | timesince }} ago | {{ aiPost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>
        </div>
        {% endfor %}

        {% for inventionPost in invention_posts %}
            <div class="grid--auto-rows grid gap-2">
          <div class="bg-white">
            <div class="text-feature mb-1 px-3">Ai > ></div>
            <hr class="mb-3 opacity-5" />
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/two.jpeg"
                  alt="Description of the image"
                  class="h-full w-full rounded-md md:h-44"
                />
              </figure>

            {% if forloop.first %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ inventionPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ inventionPost_published_at | timesince }} ago | {{ inventionPost.author }}</p>
              </header>
            {% endif %}
            </article>
            <hr class="opacity-5" />
          </div>

          <!-- Second Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.second %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ inventionPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ inventionPost_published_at | timesince }} ago | {{ inventionPost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>

          <!-- Third Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.third %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ inventionPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ inventionPost_published_at | timesince }} ago | {{ inventionPost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>
        </div>
        {% endfor %}

        {% for roboticsPost in robotics_posts %}
            <div class="grid--auto-rows grid gap-2">
          <div class="bg-white">
            <div class="text-feature mb-1 px-3">Ai > ></div>
            <hr class="mb-3 opacity-5" />
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/two.jpeg"
                  alt="Description of the image"
                  class="h-full w-full rounded-md md:h-44"
                />
              </figure>

            {% if forloop.first %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ roboticsPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ roboticsPost_published_at | timesince }} ago | {{ roboticsPost.author }}</p>
              </header>
            {% endif %}
            </article>
            <hr class="opacity-5" />
          </div>

          <!-- Second Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.second %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ roboticsPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ roboticsPost_published_at | timesince }} ago | {{ roboticsPost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>

          <!-- Third Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.third %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ roboticsPost.title }}
                </h1>
              </a>
                <p class="text-info">{{ roboticsPost_published_at | timesince }} ago | {{ roboticsPost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>
        </div>
        {% endfor %}

        {% for spacePost in space_posts %}
            <div class="grid--auto-rows grid gap-2">
          <div class="bg-white">
            <div class="text-feature mb-1 px-3">Ai > ></div>
            <hr class="mb-3 opacity-5" />
            <article class="mx-auto w-auto px-4">
              <figure class="mb-3">
                <img
                  src="./img/two.jpeg"
                  alt="Description of the image"
                  class="h-full w-full rounded-md md:h-44"
                />
              </figure>

            {% if forloop.first %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ spacePost.title }}
                </h1>
              </a>
                <p class="text-info">{{ spacePost_published_at | timesince }} ago | {{ spacePost.author }}</p>
              </header>
            {% endif %}
            </article>
            <hr class="opacity-5" />
          </div>

          <!-- Second Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.second %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ spacePost.title }}
                </h1>
              </a>
                <p class="text-info">{{ spacePost_published_at | timesince }} ago | {{ spacePost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>

          <!-- Third Post -->
          <div class="bg-white">
            <article class="mx-auto w-auto px-4">
            {% if forloop.third %}
              <header class="mb-4">
              <a href="">
                <h1 class="text-titleFeatureSpecial mb-2">
                  {{ spacePost.title }}
                </h1>
              </a>
                <p class="text-info">{{ spacePost_published_at | timesince }} ago | {{ spacePost.author }}</p>
              </header>
            {% endif %}
            </article>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Special Features End -->
    </div>

    <!-- Content End -->


        <hr class="opacity-5 xl:-mx-5" />
        <hr class="opacity-5" />

{% endblock %}