{#profile Html#}
<div class="overlay hidden flex flex-col items-center bg-secondary opacity-15 justify-center fixed inset-0">
  <div class="profile-form-container hidden inset-0 z-50 relative w-full bg-whiteLike rounded-lg shadow dark:border sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <i class="fa-solid fa-xmark absolute top-2 right-2 text-xl text-primary hover:text-secondary cursor-pointer" id="close-btn"></i>
    <a href="#" class="flex justify-center items-center py-6 text-brand">
      <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
      TechDiary
    </a>
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <form class="space-y-4 md:space-y-6" action="#">
        <div>
          <label for="email" class="block text-nav mb-2 ">Email</label>
          <input type="email" name="email" id="email" class="bg-white border border-primary text-accent rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5" placeholder="email@gmail.com" required>
        </div>
        <div>
          <label for="password" class="block mb-2 text-nav">Password</label>
          <input type="password" name="password" id="password" class="bg-white border border-primary text-accent rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5" placeholder="Password" required>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-primary rounded bg-white focus:ring-3 focus:ring-primary" required>
            </div>
            <div class="ml-3 text-sm">
              <label for="remember" class="text-info">Remember me</label>
            </div>
          </div>
          <a href="#" class="font-medium text-nav hover:underline">Forgot password?</a>
        </div>
        <button type="submit" class="w-full text-white font-medium bg-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-primary rounded-lg px-5 py-2.5 text-center">Sign in</button>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
        </p>
      </form>
    </div>
  </div>
</div>

<!-- Profile Form End -->