{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="p-8">
  <div class="px-6 py-8 mx-auto">
      <div class="md:mt-0 xl:p-0">
          <div class="p-6 md:space-y-6 sm:p-8">
              <h1 class="text-2xl font-bold">Sign up for an account</h1>
              <form class="md:space-y-6" method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button type="submit" class="px-4 py-2 rounded-md">Sign up</button>
                  <p class="mt-4">
                      Already have an account? <a href="{% url 'login' %}" class="text-blue-600">Sign in</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}