{% extends "base.html" %}

{% block content %}
    


    <h1 class="text-brand">{{ category }}</h1>

    <div class="grid grid-rows-auto">
        {% if posts %}
            {% for post in posts %}

        <article class="mx-auto w-auto px-4">
          <a
            href="{% url 'post_detail' post.category.category_name post.slug %}"
          >
            <figure class="mb-3">
              <img
                src="./img/two.jpeg"
                alt="Description of the image"
                class="h-44 w-full rounded-md"
              />
            </figure>
          </a>
          <a href="{% url 'post_detail' post.category.category_name post.slug %}">
            <header class="mb-4">
              <a
                href="{% url 'post_detail' post.category.category_name post.slug %}"
              >
                <h1 class="text-titleFeature mb-2">{{ post.title }}</h1>
              </a>
              <p class="text-info">
                {{ post.author }}
              </p>
            </header>
          </a>
        </article>
            {% endfor %}
    {% endif %}
    </div>

{% endblock %}